@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Modern Gothic";
  src: url("/fonts/ModernGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modern Gothic";
  src: url("/fonts/ModernGothic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Scroll bar for Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #283139;
}

::-webkit-scrollbar-track {
  /* background: #262626; */
}
